$resume-accent: var(--resume-accent);
$header-resume-color: var(--header-resume-color);
$section-resume-bg: var(--section-resume-bg);
$main-bg-color: #f3f4f6;
//$content-bg-color: #fff;
$content-bg-color: gray;
