@font-face {
  font-family: "_serif";
  src: url(../fonts/PTSerif-Regular.ttf);
}

@font-face {
  font-family: "_sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "_mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
}
