@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin layoutOption($direction) {
  background: linear-gradient(to $direction, $resume-accent 50%, white 50%);
}

@mixin sidebarChild($pl: 0.6rem) {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding-left: $pl;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

// complex mixins
@mixin sidebarCustomizeSection {
  @include flex;
  @include sidebarChild;
  background-color: $content-bg-color;
}
