@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins";

@import "./core.scss";

:root {
  --resume-accent: #0e374e;
  --header-resume-color: #ffffff;
  --section-resume-bg: #0e374e12;
}

body {
  // background-color: $main-bg-color;
  background-color: gray;
  margin: 0;
  padding: 0;
  & h1 {
    font-size: $h1;
  }
  & h2 {
    font-size: $h2;
    text-align: center;
  }
  & p {
    font-size: $h4;
  }
  & time {
    font-size: $h3/1.1;
  }
}

.layout {
  &-cover {
    display: flex;
    height: 100vh;
    padding-top: 1rem;
  }

  flex-shrink: 0;
  height: 90vh;
  width: 38rem;
  margin: 1rem;
  font-family: "_sans";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;

  & > * {
    padding: 10px;
  }
}
header {
  @include flex;
  align-items: center;

  flex: 1;
  background-color: $resume-accent;
  color: $header-resume-color;

  & h1 {
    font-size: $large;
  }

  & p {
    font-size: $h3;
  }

  & > address {
    @include flex();
    //gap: 2rem;
    & span {
      margin-left: 1rem;
    }
  }
}

.content {
  flex: 1;
  background-color: $content-bg-color;
  padding: 1rem 3rem;

  & h2 {
    background-color: $section-resume-bg;
    color: $resume-accent;
  }

  &__section {
    @include flex(row);
    gap: 2rem;

    &-element {
      flex: 1;

      & strong {
        font-size: $h3/1.1;
      }

      & time {
        font-size: $h4;
      }
    }
  }
}

/*other layouts*/
.layout.right > header {
  order: 1;
}

.layout.top {
  flex-direction: column;
  & > .content {
    flex: 7;
  }
  & header > address {
    @include flex(row);
    gap: 2rem;
  }
}
