@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins";

@import "./core.scss";

:root {
  --resume-accent: #0e374e;
  --header-resume-color: #c4b8c4;
  --section-resume-bg: #0e374e12;
}

body {
  background-color: $main-bg-color;
  margin: 0;
  padding: 0;
}

.layout {
  &-cover {
    display: flex;
    height: 100vh;
    padding-top: 1rem;
  }

  flex-shrink: 0;
  height: 90vh;
  width: 38rem;
  margin: 1rem;
  font-family: "_sans";
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;

  & > * {
    padding: 10px;
  }
}
.header {
  border-bottom: 1px solid white;
  flex: 1;
  background-color: $resume-accent;
  color: $header-resume-color;
}

.content {
  border-bottom: 1px solid white;
  flex: 2.5;
  background-color: $content-bg-color;
  padding: 1rem 3rem;

  & h2 {
    background-color: $section-resume-bg;
    color: $resume-accent;
  }
}

/*other layouts*/
.layout.right > .header {
  order: 1;
}

.layout.top {
  flex-direction: column;
  & > .content {
    flex: 5;
  }
}
