@import "./colors.scss";
@import "./fonts.scss";
@import "../components/sidebar/_sidebar.scss";

:root {
  --resume-accent: #800080;
  --header-resume-color: #c4b8c4;
  --section-resume-bg: #7f9c17;
}

body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

.layout {
  &-cover {
    display: flex;
    height: 100vh;
    padding-top: 1rem;
  }

  flex-shrink: 0;
  height: 90vh;
  width: 38rem;
  margin: 1rem;
  font-family: "_sans";

  display: flex;
  flex-direction: row;

  & > * {
    background-color: #333;
    border: 1px solid white;
    color: white;
    padding: 10px;
  }
}
.header {
  border-bottom: 1px solid white;
  flex: 1;
  background-color: $resume-accent;
  color: $header-resume-color;
}

.content {
  border-bottom: 1px solid white;
  flex: 2.5;
  background-color: $section-resume-bg;
}

/*other layouts*/
.layout.right > .header {
  order: 1;
}

.layout.top {
  flex-direction: column;
  & > .content {
    flex: 5;
  }
}
